#root {
  max-width: 1680px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #fafafa;
}

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
