@import "tailwindcss";

@theme {
  --color-primary: #2b2b2b;
  --color-light-gray: #707070;
  --color-white: #fafafa;
  --color-beige: #edebe7;

  --font-primary: "Courier Prime", monospace;
  --font-secondary: "Oswald", "sans-serif";
}

.otp_input {
  width: 2.5rem !important;
  height: 3rem;
  margin: 0 0.5rem;
  font-size: 1.3rem;
  border-radius: 4px;
  border: 1px solid #2b2b2b;
  text-align: center;
  outline: none;
  color: #2b2b2b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {
  .otp_input {
    width: 2rem;
    height: 3rem;
    font-size: 1.2rem;
    margin: 0 0.4rem;
  }
}
